.BOX {
  WIDTH: 111PX;
  HEIGHT: 400PX;
}
.BOX:HOVER {
  BACKGROUND: #EEE;
  TRANSITION-DELAY: 0S;
  TRANSITION-DURATION: 22S;
  TRANSITION-PROPERTY: BACKGROUND;
  TRANSITION-TIMING-FUNCTION: FUNKY-TOWN;
}
.BOX:NOT(:HOVER) {
  BACKGROUND: #EEE;
  TRANSITION-DELAY: 0S;
  TRANSITION-DURATION: 22S;
  TRANSITION-PROPERTY: BACKGROUND;
  TRANSITION-TIMING-FUNCTION: FUNKY-TOWN;
}
