.BOX {
  WIDTH: 111PX;
  HEIGHT: 400PX;
}
.BOX:HOVER {
  BACKGROUND: #EEE;
  TRANSITION-DELAY: 222S;
  TRANSITION-DURATION: 333S;
  TRANSITION-PROPERTY: BACKGROUND;
  TRANSITION-TIMING-FUNCTION: CUBIC-BEZIER(0.42, 0, 0.58, 1);
}
.BOX:NOT(:HOVER) {
  BACKGROUND: #000;
  TRANSITION-DELAY: 222S;
  TRANSITION-DURATION: 333S;
  TRANSITION-PROPERTY: BACKGROUND;
  TRANSITION-TIMING-FUNCTION: CUBIC-BEZIER(0.42, 0, 0.58, 1);
}
