.box-1 {
  width: 200px;
  background: #00f;
}
.box-2 {
  width: 800px;
}
.box-2:hover {
  background: #00f;
  transition-delay: 0s;
  transition-duration: 10s;
  transition-property: background;
  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
}
